
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
             Travel is an investment in yourself.</span>
        <span class="text-muted">&copy; Camping Safari 2022</span>
    </div>
</footer>